---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
    font-size: 100%;
    font-family: Sans-serif;
    height: 100%;
}

body {
    background: $background;
    color: $darkGray;
    min-height: 100%; 
    padding: 0; 
    margin: 0; 
    position: relative;
}

body::after{
    content:'';
    display:block;
    height:155px;
}

.container {
    margin: 0 auto;
    max-width: 740px;
    padding: 0 10px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: $darkerGray;
    font-weight: normal;

    @include mobile {
        line-height: 1.25;
    }
}

h1, .entry h1, #archive h1 {
    font-size: 1.75em;
	font-weight: bold;

    a {
    	color: inherit;
    }
}

h2, .entry h2, #archive h2 {
    font-size: 1.5em;
	font-weight: bold;
}

h3, .entry h3, #archive h3 {
    font-size: 1.25em;
	font-weight: bold;
}

h4, .entry h4, #archive h4 {
    font-size: 1em;
	font-weight: bold;
}

.post h1, .entry h1, .entry h2, .entry h3, .entry h4 {
	font-weight: bold;
	a:hover {
		color: $link;
	}
}

.entry h1, .entry h2, .entry h3, .entry h4 {
	padding-top: 0.5em;
}

.entry h3 {
	margin-top: 15px;
	padding-bottom: 3px;
}

.main a:hover {
	color: $darkGray;
}

p {
    font-size: 14px;
    margin: 15px 0;
    line-height: 1.35em;
}

.content p, .entry p {
	a { text-decoration: underline;
	}
}

a {
    color: $link;
    text-decoration: none;
	cursor: pointer;

    &:hover, &:active {
        color: $link;
        text-decoration: underline;
    }
}

ul, ol {
    margin: 15px 0;
    padding-left: 30px;
}

ul {
    list-style-type: square;
}

.entry li {
    font-size: 14px;
    margin: 0px;
    line-height: 1.5em;
}

.entry hr {
    border-size: 10px;
    color: red;
}

li {
    margin: 5px 0px 0px 0px;
}

ol {
    list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
    margin: 0;
}

ul ul, ol ul {
    list-style-type: circle;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

img {
    max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
    max-width: none;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
	background: $darkGray;
    margin-bottom: 2em;
	padding: 10px 0px;
    
    @include mobile {
        margin-bottom: 1.25em;
    }
}

.masthead {
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
    float: left;
    width: 70px;
    height: 70px;
    margin: 10px 20px 10px 0px;
    display: block;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 0.5em;
    }
    img {
        border-radius: 50%;
    }
}

.site-info {
    float: left;
    width: 30%;

    @include mobile {
        float: none;
        display: block;
        margin: 0 auto;
    	width: 50%;
    }
}

#site-name {
    color: $white;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    margin: 17px 0 0 0;

	a:hover {
		color: $darkGray;
		background-color: $darkGray;
		background: $darkGray;
	}
	@include mobile {
		display: block;
	}
}

.site-description {
	font-family: monospace;
	font-size: 14px;
    margin: 0 2em 0 3px;
    color: $lightGray;
	background: $gray;
    display: inline-block;
	padding: 1px 5px;

    @include mobile {
        margin: 3px 0;
    }
}

nav {
    float: right;
    margin-top: 28px;
    
    @include mobile {
        float: none;
        margin: 16px 0px 9px 0px;
        display: block;
        font-size: 12px;
    }

    a {
        display: inline-block;
        margin-left: 5px;
        color: $white;
        width: auto;
        height: auto;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 10px 15px;

        @include mobile {
            margin: 0 10px;
            padding: 10px 10px;
        }

    }
    a:hover {
        display: inline-block;
        color: $white;
        border-radius: 3px;
        text-decoration: none;
		background: $green;
	}
}

nav .current {
    display: inline-block;
    color: $white;
	background: $gray;
	border-radius: 2px;
}

//
// .main
//

.posts > .post {
    margin-bottom: 2em;
}

.post {
    blockquote {
        margin: 1em 0.25em;
        padding: 0.1em 1em;
        color: $darkGray;
		font-size: 24px;
        font-style: italic;
		background: $white;
		border: 1px solid #ECF2F5;
        border-left: 3px solid $lightGray;
	}
	.tagsPost {
		border-top: 1px solid $lightGray;
		padding-top: 10px;
	}
	.tags {
		margin: 10px 0 0 0;
	}
	
    .read-more {
        text-transform: normal;
        font-size: 14px;
        margin-right: 10px;
    }
}

.content {
	.tags {
		margin-bottom: 1.75em;
		border-bottom: 1px solid #ddd;
	}
}
 
.wrapper-footer {
    background-color: $darkGray;
    position:absolute;
    bottom:0;
    width: 100%;
}

footer {
    padding: 20px 0;
    text-align: center;
  
    p {
        font-size: 14px;
		color: $white;
        margin: 10px 0px;
		a {
			color: $blue;
			text-decoration: underline;
		}
		a:hover {
			color: $blue;
		}
		@include mobile {
			margin: 15px 0;
		}
    }
	@include mobile {
		padding: 15px 0;
	}
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";

.post-meta {
    font-size: 13px;
	margin-bottom: 8px;
	color: $gray;
}

.tags, .tags-page, .tags-cloud {
    list-style: none;
    overflow: hidden; 
    padding: 0em 0em 1em 0em;
	@include mobile {
    	padding: 0em 0em 0.25em 0em;
	}

}

.tags-cloud {
    padding: 0px;
}

.tags-page {
    border-top: solid 1px $lightGray;
    padding: 10px 0;
    margin: 2em 0 -10px 0;
}

.tags li, .tags-page li, .tags-cloud li {
    float: left; 
}

.tags-cloud li {
	margin: 0px;
	a {
		background: $green;
	}
	a:hover {
		background: $darkGray;
		color: $white;
		text-decoration: none;
	}
}

.tag {
    background: $green;
    border-radius: 3px;
    color: $white;
    display: inline-block;
    padding: 7px 11px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
	font-weight: bold;
    font-size: 12px;
	@include mobile {
    	margin: 0 7px 3px 0;
    	padding: 9px 12px 7px 12px;
		font-weight: normal;
	}
}

.tags a:hover, .tag:hover a:visited, .tag:visited hover {
    background-color: $darkGray;
    color: $white;
	text-decoration: none;
}

.tags-title {
    font-size: 24px;
}

.tags-date {
    font-size: 14px;
    color: #828282
}

.tagsHome {
	@include mobile {
		padding-bottom: 1em;
	}
}

.entry {
	margin-bottom: 0px;
	padding-bottom: 0.5em;
	@include mobile {
		padding-bottom: 0.25em;
	}
	em {
		text-align: center;
		font-size: 12px;
		margin: -1.25em 0 2.25em 0;
	}
	.image-caption {
		text-align: center;
		margin: -1.25em 0em 2.25em 0em;
	}
	
}

.entry tags{
    border-color: #ccc;
}

.entry img, .content img {
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 0 2px 3px #CCC;
	@include mobile {
		margin: 1.3em 0;
	}
}

.comments {
	border-bottom: 1px solid $lightGray;
	margin-bottom: 0.5em;
	@include mobile {
		margin-bottom: 1em;
	}
	a {
		text-decoration: underline;
	}
}

.highlighter-rouge {
	border-radius: 2px;
	border: 1px solid $highlightBorder;
	padding: 2px 3px;
	background: $highlight;
	font-size: 12px;
	white-space: nowrap;
	line-height: 1.8em;
	margin: 1em 0;

    .highlight {
        border: 0px;
        overflow: auto;
    }
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    max-width: 820px;
    margin: 0 auto;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 10px 0;
	@include mobile {
    	width: 100%;
		text-align: center;
    	margin: 7px 0;
	}
}

.PageNavigation .next {
    text-align: right;
    float: right;
	@include mobile {
		text-align: center;
	}
}

.pagination {
    text-align: center;
    margin: 1.5em 0;
	font-weight: bold;
	p {
		font-size: 14px;
		font-weight: normal;
		line-height: 2em;
	}
	a {
		background: $darkGray;
		color: $white;
		font-size: 14px;
		border-radius: 2px;
		padding: 7px;
	}
	a:hover {
		background: $blue;
		color: $white;
		text-decoration: none;
	}
}

.previous {
    float: left;
}

.next {
    float: right;
}

.page_number {
    width: 50%;
}

.related-posts {
    padding: 0 0 30px 0;
}

.related-posts li {
    font-size: 14px;
    margin: 6px 0px 0px 20px;
}

.red-note {
    border-radius: 2px;
    border: 1px solid #DBB;
    padding: 2px 4px;
    background: #FDD;
    font-size: 12px;
    margin-bottom: 10px;

    p {
        margin: 5px
    }
}

button {
    display: inline-block;
    background-color: #2B90D9;
    color: #fff;
    text-decoration: bold;
    font-weight: bold;
    font-size: 12px;
    margin: 0 0 10px 0;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
}

.entry .button {
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 2.5em;
    a {
        font-weight: bold;
        font-size: 12px;
        color: #FFF;
        background-color: $blue;
        padding: 10px 13px;
        border-radius: 2px;
        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

.back {
    float: right;
    margin-top: -4em;
    font-size: 12px;
    color: #888;
}

.highlight  {
    padding: 3px 3px 3px 8px;
	line-height: 1.25em;
	font-size: 12px;
}

.social-email, .social-mastodon, .social-rss, .social-xmpp {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    width: auto;
    height: auto;
    padding: 8px 15px;
	margin: 10px 1px;

	@include mobile {
		margin-bottom: 5px;
	}
}

.social-email:hover, .social-mastodon:hover, .social-rss:hover, .social-xmpp:hover {
    color: $white;
    text-decoration: underline;
}

.social-email {
    color: $white;
    background-color: $red;
}

.social-mastodon {
    color: $white;
    background-color: $blue;
}

.social-rss {
    color: $white;
    background-color: $orange;
}

.social-xmpp {
    color: $white;
    background-color: $green;
}

table {
  border-collapse: collapse;
  width:100%;
	margin-bottom: 1em;
}

td, th {
    border: 1px solid $lightGray;
    padding: 8px;
    font-size: 14px;
}

tr:nth-child(even){background-color: $trEven;}

tr:hover {
	background-color: $trHover;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #679881;
    color: white;
}

.photo {
	width: 840px;
	position: absolute;
  top: 50%;
  left: 50%;
}
