{% assign current = page.url | downcase | split: '/' %}

<a href="/" {% if page.url == "/" %}class="current"{% endif %}>Home</a></li>
<a href="/archive" {% if current[1] == "archive" %}class="current"{% endif %}>Archive</a></li>
<a href="/about" {% if current[1] == "about" %}class="current"{% endif %}>About</a></li>

