
//
// VARIABLES
//

$background: #FAFAFA;
$accent: #679881;
$navCurrent: #4E7361;
$navHover: #4E7361;
$navTextShadow: #386638;
//$link: #0006E6;
$link: #337AB7;
$highlight: #E6E6E6;
$highlightBorder: #D4D4D4;
$trEven: #ddd;
$trHover: #BFBFBF;

// Colors
//$blue: #337AB7;
$blue: #2B90D9;
$green: #7E9F5B;
$red: #E45635;
$orange: #F8991D;

// Grays
$black: #111;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #ddd;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
