<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
     </head>

    <body>
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    {% include header.html %}
                </header>
            </div>
        </div>

        <div id="main" role="main" class="container">
            {{ content }}
        </div>

        <div class="wrapper-footer">
            <div class="container">
                <footer class="footer">
                    {% include footer.html %}
                </footer>
            </div>
        </div>
    </body>
</html>
