---
layout: default
---

<div class="post-meta">
	{% include date.html %}
</div>

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
        {{ content }}
    </div>

     <ul class="tags tagsPost">
        {% for tag in page.tags %}
    	    <li><a href="{{ site.baseurl }}/archive/#{{ tag }}" class="tag">{{ tag }}</a></li>
    	{% endfor %}
    </ul>

	<div class="comments">
		<h1>Comments</h1>
		<p>I'm looking into a good way of implementing comments on my blog that works without JavaScript, respects the users privacy and is reasonably user friendly. If you have any ideas or just want to give me some feedback on this blog post or if you just want to say hello, feel free to do so either via <a href="mailto:{{ site.footer-links.email }}">e-mail</a>, <a href="xmpp:{{ site.footer-links.xmpp }}?message">XMPP</a> or <a href="{{ site.footer-links.mastodon }}">Mastodon</a>.
	</div>

</article> 

{% include pagenavigation.html %}
